{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- hero image -->
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 hero-font text-white">
                    Ready to Roll?
                </h1>
                <h5 class="text-white">
                    World Class Instructional Courses, Limited Edition Merch & More
                </h5>
                <div class="my-3">
                    <!-- link buttons -->
                    <h4>
                        <a href="{% url 'products' %}?category=Courses" class="shop-now-button bg-danger btn  rounded-0 text-uppercase py-3">Courses</a>
                    </h4>
                    <h4>
                        <a href="{% url 'products' %}?category=Clothing" class="shop-now-button bg-danger btn  rounded-0 text-uppercase py-3">Clothing</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-5">
                
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="container-fluid">
        <div class="row bg-black footer-container">        
            <div class="col-md-4 col-sm-12 text-center mt-3 mb-3">
                <p class="footer-header text-white text-uppercase">About</p>
                <p class="footer-text text-white">Store for jiu-jitsu courses and accessories. Courses from some of the most renowned competitors in the jiu-jitsu world. Courses are delivered online, immediatley availible on purchase.</p>
            </div> 
            <div class="col-md-4 col-sm-6 text-center mt-3 mb-3">
                <p class="footer-header text-white text-uppercase">Email</p>
                <p class="footer-text text-white">contactus@keeprolling.com</p>
            </div> 
            <div class="col-md-4 col-sm-6 text-center mt-3 mb-3">
                <p class="footer-header text-white text-uppercase">Social</p>
                <ul class="list-inline social-links">
                    <li class="list-inline-item"><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">   
            </div>         
        </div>       
    </footer>

{% endblock %}