<!-- navbar menu items -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="menu-links font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" >
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="menu-links font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}?category=Courses">
                Courses
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="menu-links font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}?category=Clothing">
                Clothing
            </a>
        </li>
    </ul>
</div>